mixin rankGenerate(dept)
    - if(dept == '総合優勝')
        .screen(id="rank1")
            p.s_p-dept #{dept}
            +rankExists(0, dept)
    - else
        - var num = 5
        while num > 0
            .screen(id=`rank${num}`)
                p.s_p-dept #{dept}
                p.s_p-rank 第#{num}位
                - if (1 <= num && num <= 5 && dept != '総合優勝')
                    +rankExists(num - 1, dept)
                - else
                    p.s_p-desc 不正な値です。
            - num--

mixin rankExists(n, dept)
    - if (rank[n])
        - if(dept == '総合優勝')
            p.s_p-desc #{dept}は<br>#{rank[n].score}点 #{rank[n].course}の<br>#{rank[n].name}さんです！
        - else
            p.s_p-desc #{rank[n].rank}位は<br>#{rank[n].score}点 #{rank[n].course}の<br>#{rank[n].name}さんです！
    - else if(dept == '総合優勝')
        p.s_p-desc 総合優勝者のデータは存在しません。
    - else
        p.s_p-desc #{n+1}位の人のデータは存在しません。
